/**
* Primary colors and basic colors
**/
$c_white: #fff;
$c_black: #212121;
$c_light_black: #303030;
$c_gray: #e5e5e5;
$c_red: rgba(#b71c1c, 0.8);
$c_blue: #2979FF;
$c_green: #4CAF50;

/**
* OTHERS
**/
$c_primary_text: #333;
$c_secondary_text: #7A7A7A;
$c_dividers: #eee;

/**
* HTML, BODY
**/
$c_background: darken($c_white, 2%);

/**
* TOPBAR
**/
$c_topbar: $c_light_black;

/**
* HEADER
**/
$c_header_background: darken($c_white, 1%);