/**
* CONFIG
**/

// GRID
$cols: 12;
$gutter: 15px;
$breakpoint: xs, sm, md, lg;
$breakpointWidth: 0, 768px, 992px, 1200px;
$breakpointContainer: auto, 750px, 970px, 1170px;

/**
* VARIABLES
**/
@import "variables/fonts";
@import "variables/colors";

/**
* PLUGINS
**/
@import "plugins/reset";
@import "plugins/grid";

/**
* MODULES
**/
@import "modules/base";